---
interface Props {
    key: string;
}

const { key } = Astro.props;
---

<div class="badge-banner" data-iframe-width="150" data-iframe-height="200" data-share-badge-id={key} data-share-badge-host="https://www.credly.com" data-background="allowtransparency" ></div>